# **Estudio de Startups en el mundo según su valuación**

#### por Franco Luis Blardone

Este repositorio contiene un análisis de datos de distintas Startups en el mundo, centrando su análisis en país de origen, valuación e industria a la cual pertenecen. Los datos obtenidos corresponden al año 2021.

Nos centraremos en aquellas startups denominadas **"Unicornios"** que son aquellas que alcanzan una valuación de $ 1 Billón de U$D sin ser listadas en los mercados de acciones.

## Objetivos

El objetivo es estudiar las relaciones entre el surgimiento de estas compañías y responder los siguientes interrogantes:
- Qué industria tiene mayor cantidad de startups
- Qué país concentra la mayor cantidad de startups
- Qué valuación total significan estas startups
- Cantidad de estas compañías que tiene el potencial de sobrevivir en el mercado.

## Tabla de contenidos

1. Carga de datos
2. Exploración
3. Limpieza de datos
4. Presentación de los datos
5. Conclusiones
6. Referencias

## 1. Carga de datos

In [2]:
#importamos librerias

import pandas as pd

import numpy as np 

import matplotlib.pyplot as plt

#habilitamos matplotlib

%matplotlib inline

from matplotlib import style

In [3]:
#definimos el path al Dataset e importamos los datos al Dataframe

from os import path

archivo = "data\Startups.csv"

print(f"El Dataset se encuentra en el destino {path.abspath(archivo)}")

path = "data\Startups.csv"

df = pd.read_csv(path)

El Dataset se encuentra en el destino C:\Users\Lenovo\Documents\GitHub\Proyecto-Final---Startups\data\Startups.csv

## 2. Exploración

In [16]:
#forma del Dataset
print(f"El dataset tiene {df.shape[0]} filas y {df.shape[1]} columnas.")
print()
      
#informacion del Dataframe
df.info()

#visualizacion rapida random
df.sample(5)

El dataset tiene 250 filas y 5 columnas.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         250 non-null    object
 1   Valuation       250 non-null    float64
 2   Valuation_date  250 non-null    object
 3   Industry        233 non-null    object
 4   Country         250 non-null    object
dtypes: float64(1), object(4)
memory usage: 9.9+ KB

,Company,Valuation,Valuation_date,Industry,Country
60,Netskope,7.5,July-21,Computer security,United States
109,Checkr,4.6,August-21,NaN,United States
204,Contentsquare,2.8,May-21,Software as a service,France
221,ManoMano,2.6,July-21,E-commerce,France
190,Seismic,3.0,August-21,Software,United States

In [15]:
#visualizacion de los extremos del Dataframe
df.head(5)

,Company,Valuation,Valuation_date,Industry,Country
0,ByteDance,140.0,April-21,Internet,China
1,SpaceX,100.0,October-21,Aerospace,United States
2,Stripe,95.0,March-21,Financial services,United States / Ireland
3,Klarna,45.6,June-21,Fintech,Sweden
4,Canva,40.0,September-21,Graphic design,Australia

In [14]:
df.tail(5)

,Company,Valuation,Valuation_date,Industry,Country
245,Bitso,2.20,May-21,Cryptocurrency,Mexico
246,Gympass,2.20,June-21,NaN,Brazil / United States
247,Kurly,2.20,July-21,E-commerce,South Korea
248,Addepar,2.17,June-21,Fintech,United States
249,Eightfold.ai,2.10,June-21,Artificial intelligence,United States

Para cerrar la seccion se pone una breve descripcion de lo que encontramos en los datos

## 3. Limpieza de datos

In [5]:
#hacer una copia del df

#df.copy()

## 4. Presentación de los datos

In [2]:
#conclusion: lo que encontramos

## 5. Conclusiones

In [3]:
#Lo que encontramos, lo que llamó la atencion, como se podria seguir el análisis

## 6. Referencias